header.app-header
  .app-header__logo
  .app-header__me
    .app-header__me-name {{ me.name }}
    .app-header__me-family {{ me.family }}

  hr.app-header__divider
  .app-header__description
    p {{ me.description }}
  hr.app-header__divider
